@model SMS.Areas.Dashboard.ViewModels.UserListingModel
<div class="row">
    <di class="col-lg-12">
        <h2>User</h2>
        <hr />
    </di>
</div>
<div class="row mb-1">
    <di class="col-lg-12">
        <form id="actionForm">
            <div class="input-group">
                <input type="tel" class="form-control" name="searchTerm" placeholder="Search anything Here">
                @*@if (Model.Classes != null)
                    {
                        <select class="form-control" name="ID">
                            <option>
                                Select Role
                            </option>
                            @foreach (var item in Model.Classes)
                            {
                                <option value="@item.ID" @(item.ID == Model.ClassID ? "selected" : string.Empty)>
                                    @item.ClassName
                                </option>
                            }
                        </select>
                    }*@
                <div class="input-group-append" id="button-addon4">

                    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search mr-1"></i>Search</button>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index","User")"><i class="fas fa-retweet mr-1"></i>Reset</a>
                    <button id="btnCreate" class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#actionModal"><i class="far fa-plus-square mr-1"></i> Create</button>
                </div>
            </div>
        </form>
    </di>
</div>
<div class="row">
    <di class="col-lg-12">
        @{Html.RenderPartial("_Listing", Model); }
    </di>
</div>

<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<!--JQUERY-->
<script>
    $("#btnCreate").click(function () {

        $.ajax({
            url:'@Url.Action("Action","User")',

        })
            .done(function(response){

                $("#actionModal .modal-dialog").html(response);
            });
    });

</script>